##OCI Provider Configuration##
tenancy_ocid     = "ocid1.tenancy.oc1..xxxx"
user_ocid        = "ocid1.user.oc1..xxxx"
private_key_path = "~/.oci/oci_api_key.pem"
fingerprint      = "00:00..."
region           = "eu-frankfurt-1"
compartment_id   = "ocid1.compartment.oc1..xxxx"
ssh_key          = "ssh-rsa xxxx mykey"
profile          = "DEFAULT"

##Compute Instance Configuration##
shape            = "VM.Standard.E5.Flex"
ocpus            = 2
memory_in_gbs    = 16
boot_volume_size_in_gbs = 100
